# Ejercicio Nº 2
Generar un Notebook Colab con código y resultados, que contiene información de autos de un periodo de tiempo. Resolver los siguientes:
- Limpieza y tratamiento de las variables (Según corresponda)
- Generar 5 nuevas variables aplicando los siguientes criterios con las
variables numéricas:

1. Log10(var1/var2)
2. Sqrt(var1)*exp(var2)/200
3. Si var 1 > var 2 → 5, caso contrario 3
4. 1/logn(var1/var2)*100
5. var2**2/var1

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/raw/autos.csv",delimiter=";")
df

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0
...,...,...,...,...,...,...,...,...,...
401,27.0,4,USA,2790,140.0,15.6,ford mustang gl,1/01/1982,86.0
402,44.0,4,Europe,2130,97.0,24.6,vw pickup,1/01/1982,52.0
403,32.0,4,USA,2295,135.0,11.6,dodge rampage,1/01/1982,84.0
404,28.0,4,USA,2625,120.0,18.6,ford ranger,1/01/1982,79.0
405,31.0,4,USA,2720,119.0,19.4,chevy s-10,1/01/1982,82.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Millas_Por_Galon   398 non-null    float64
 1   Cilindros          406 non-null    int64
 2   Pais_Origen        406 non-null    object
 3   Peso_En_Libras     406 non-null    int64
 4   Desplazamiento     406 non-null    float64
 5   Aceleracion        406 non-null    float64
 6   Nombre             406 non-null    object
 7   Anyo               406 non-null    object
 8   Caballo_De_Fuerza  400 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 28.7+ KB

In [5]:
df.isna().sum()

Millas_Por_Galon     8
Cilindros            0
Pais_Origen          0
Peso_En_Libras       0
Desplazamiento       0
Aceleracion          0
Nombre               0
Anyo                 0
Caballo_De_Fuerza    6
dtype: int64

In [9]:
col_num = ['Millas_Por_Galon','Cilindros','Peso_En_Libras', 'Desplazamiento', 'Aceleracion', 'Caballo_De_Fuerza']

df[col_num] = df[col_num].fillna(df[col_num].median())

In [10]:
df.isna().sum()

Millas_Por_Galon     0
Cilindros            0
Pais_Origen          0
Peso_En_Libras       0
Desplazamiento       0
Aceleracion          0
Nombre               0
Anyo                 0
Caballo_De_Fuerza    0
dtype: int64

## Inciso 1

In [6]:
def log10(var1, var2):
    return np.log10(var1/var2)

In [7]:
df["log"] = log10(df["Millas_Por_Galon"], df["Cilindros"])

In [8]:
df

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,log
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,0.352183
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,0.273001
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,0.352183
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,0.301030
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,0.327359
...,...,...,...,...,...,...,...,...,...,...
401,27.0,4,USA,2790,140.0,15.6,ford mustang gl,1/01/1982,86.0,0.829304
402,44.0,4,Europe,2130,97.0,24.6,vw pickup,1/01/1982,52.0,1.041393
403,32.0,4,USA,2295,135.0,11.6,dodge rampage,1/01/1982,84.0,0.903090
404,28.0,4,USA,2625,120.0,18.6,ford ranger,1/01/1982,79.0,0.845098
405,31.0,4,USA,2720,119.0,19.4,chevy s-10,1/01/1982,82.0,0.889302

## Inciso 2

In [9]:
def sqrt(var1,var2):
    return (np.sqrt(var1) * np.exp(var2)) / 200

In [10]:
df["sqrt"] = sqrt(df["Millas_Por_Galon"], df["Cilindros"])
df

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,log,sqrt
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,0.352183,63.235668
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,0.273001,57.726003
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,0.352183,63.235668
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,0.301030,59.619160
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,0.327359,61.454023
...,...,...,...,...,...,...,...,...,...,...,...
401,27.0,4,USA,2790,140.0,15.6,ford mustang gl,1/01/1982,86.0,0.829304,1.418502
402,44.0,4,Europe,2130,97.0,24.6,vw pickup,1/01/1982,52.0,1.041393,1.810816
403,32.0,4,USA,2295,135.0,11.6,dodge rampage,1/01/1982,84.0,0.903090,1.544269
404,28.0,4,USA,2625,120.0,18.6,ford ranger,1/01/1982,79.0,0.845098,1.444531
405,31.0,4,USA,2720,119.0,19.4,chevy s-10,1/01/1982,82.0,0.889302,1.519948

## Inciso 3

In [11]:
def conditional(df, var1, var2):
   return np.where(df[var1] > df[var2],5,3)

In [12]:
df["condicional"] = conditional(df, "Desplazamiento", "Cilindros")
df

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,log,sqrt,condicional
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,0.352183,63.235668,5
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,0.273001,57.726003,5
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,0.352183,63.235668,5
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,0.301030,59.619160,5
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,0.327359,61.454023,5
...,...,...,...,...,...,...,...,...,...,...,...,...
401,27.0,4,USA,2790,140.0,15.6,ford mustang gl,1/01/1982,86.0,0.829304,1.418502,5
402,44.0,4,Europe,2130,97.0,24.6,vw pickup,1/01/1982,52.0,1.041393,1.810816,5
403,32.0,4,USA,2295,135.0,11.6,dodge rampage,1/01/1982,84.0,0.903090,1.544269,5
404,28.0,4,USA,2625,120.0,18.6,ford ranger,1/01/1982,79.0,0.845098,1.444531,5
405,31.0,4,USA,2720,119.0,19.4,chevy s-10,1/01/1982,82.0,0.889302,1.519948,5

## Inciso 4

In [13]:
def ln(var1,var2):
    return 1 / np.log(var1 / var2) * 100

In [14]:
df["ln"] = ln(df["Desplazamiento"], df["Cilindros"])
df

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,log,sqrt,condicional,ln
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,0.352183,63.235668,5,27.416743
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,0.273001,57.726003,5,26.465587
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,0.352183,63.235668,5,27.154655
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,0.301030,59.619160,5,27.490758
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,0.327359,61.454023,5,27.540733
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,27.0,4,USA,2790,140.0,15.6,ford mustang gl,1/01/1982,86.0,0.829304,1.418502,5,28.126641
402,44.0,4,Europe,2130,97.0,24.6,vw pickup,1/01/1982,52.0,1.041393,1.810816,5,31.363530
403,32.0,4,USA,2295,135.0,11.6,dodge rampage,1/01/1982,84.0,0.903090,1.544269,5,28.417322
404,28.0,4,USA,2625,120.0,18.6,ford ranger,1/01/1982,79.0,0.845098,1.444531,5,29.401410
405,31.0,4,USA,2720,119.0,19.4,chevy s-10,1/01/1982,82.0,0.889302,1.519948,5,29.473928

## Inciso 5

In [15]:
def pow(var1,var2):
    return var2**2/var1

In [16]:
df["pow"] = pow(df["Desplazamiento"], df["Cilindros"])
df

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,log,sqrt,condicional,ln,pow
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,0.352183,63.235668,5,27.416743,0.208469
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,0.273001,57.726003,5,26.465587,0.182857
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,0.352183,63.235668,5,27.154655,0.201258
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,0.301030,59.619160,5,27.490758,0.210526
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,0.327359,61.454023,5,27.540733,0.211921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,27.0,4,USA,2790,140.0,15.6,ford mustang gl,1/01/1982,86.0,0.829304,1.418502,5,28.126641,0.114286
402,44.0,4,Europe,2130,97.0,24.6,vw pickup,1/01/1982,52.0,1.041393,1.810816,5,31.363530,0.164948
403,32.0,4,USA,2295,135.0,11.6,dodge rampage,1/01/1982,84.0,0.903090,1.544269,5,28.417322,0.118519
404,28.0,4,USA,2625,120.0,18.6,ford ranger,1/01/1982,79.0,0.845098,1.444531,5,29.401410,0.133333
405,31.0,4,USA,2720,119.0,19.4,chevy s-10,1/01/1982,82.0,0.889302,1.519948,5,29.473928,0.134454