# Ejercicio N°1:
Fichero autos.csv
Generar una función y utilizar esta para recodificar la variable “país de origen” (1, 2, 3) en el dataframe a través de la función apply.

In [1]:
import pandas as pd

In [2]:
dt = pd.read_csv("../data/raw/autos.csv",delimiter=";")
dt

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0
...,...,...,...,...,...,...,...,...,...
401,27.0,4,USA,2790,140.0,15.6,ford mustang gl,1/01/1982,86.0
402,44.0,4,Europe,2130,97.0,24.6,vw pickup,1/01/1982,52.0
403,32.0,4,USA,2295,135.0,11.6,dodge rampage,1/01/1982,84.0
404,28.0,4,USA,2625,120.0,18.6,ford ranger,1/01/1982,79.0
405,31.0,4,USA,2720,119.0,19.4,chevy s-10,1/01/1982,82.0

In [3]:
dt["Pais_Origen"].value_counts()

USA       254
Japan      79
Europe     73
Name: Pais_Origen, dtype: int64

In [4]:
def codingOriginCountry(pais):
    lista = {"USA":1, "Japan":2, "Europe":3}
    return lista.get(pais,0)

In [5]:
dt["paisOrigenCod"] = dt["Pais_Origen"].apply(codingOriginCountry)

In [6]:
dt["paisOrigenCod"].value_counts()

1    254
2     79
3     73
Name: paisOrigenCod, dtype: int64

In [8]:
dt

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,paisOrigenCod
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,1
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,1
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,1
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,1
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,1
...,...,...,...,...,...,...,...,...,...,...
401,27.0,4,USA,2790,140.0,15.6,ford mustang gl,1/01/1982,86.0,1
402,44.0,4,Europe,2130,97.0,24.6,vw pickup,1/01/1982,52.0,3
403,32.0,4,USA,2295,135.0,11.6,dodge rampage,1/01/1982,84.0,1
404,28.0,4,USA,2625,120.0,18.6,ford ranger,1/01/1982,79.0,1
405,31.0,4,USA,2720,119.0,19.4,chevy s-10,1/01/1982,82.0,1