 # Ejercicio Nº 3
Crear una función que permita generar 3 variables cualitativas ordinales a partir de las variables numéricas con los siguientes criterios:
1. Si es mayor a la “media + 1*desviación estándar” → Alto
2. Si está entre “media - 1*desviación estándar” y “media + 1*desviación estándar” → Medio
3. Si es menor a la “media - 1*desviación estándar” → Bajo

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/autos.csv",delimiter=";")
df

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0
...,...,...,...,...,...,...,...,...,...
401,27.0,4,USA,2790,140.0,15.6,ford mustang gl,1/01/1982,86.0
402,44.0,4,Europe,2130,97.0,24.6,vw pickup,1/01/1982,52.0
403,32.0,4,USA,2295,135.0,11.6,dodge rampage,1/01/1982,84.0
404,28.0,4,USA,2625,120.0,18.6,ford ranger,1/01/1982,79.0
405,31.0,4,USA,2720,119.0,19.4,chevy s-10,1/01/1982,82.0

In [3]:
def createQualitativeVariable(var, media, std):
    if var > (media + 1 * std) :
        return "Alto"
    elif (media - 1 * std) < var < (media + 1 * std):
        return "Medio"
    elif var < (media - 1 * std):
        return "Bajo"

In [4]:
media =df["Desplazamiento"].mean()
std = df["Desplazamiento"].std()

df["categorica"] = df["Desplazamiento"].apply(createQualitativeVariable, args=(media,std))
df

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,categorica
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,Alto
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,Alto
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,Alto
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,Alto
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,Alto
...,...,...,...,...,...,...,...,...,...,...
401,27.0,4,USA,2790,140.0,15.6,ford mustang gl,1/01/1982,86.0,Medio
402,44.0,4,Europe,2130,97.0,24.6,vw pickup,1/01/1982,52.0,Medio
403,32.0,4,USA,2295,135.0,11.6,dodge rampage,1/01/1982,84.0,Medio
404,28.0,4,USA,2625,120.0,18.6,ford ranger,1/01/1982,79.0,Medio
405,31.0,4,USA,2720,119.0,19.4,chevy s-10,1/01/1982,82.0,Medio

In [5]:
df["categorica"].value_counts()

Medio    267
Alto     103
Bajo      36
Name: categorica, dtype: int64